@font-face {
    font-family: GilroyMedium;
    src: url(./font/Gilroy-Medium_0.ttf);
    font-style: normal;
  }
  
  @font-face {
    font-family: GilroySBold;
    src: url(./font/Gilroy-SemiBold_0.ttf);
    font-style: normal;
  }
  
  @font-face {
    font-family: GilroyRegular;
    src: url(./font/Gilroy-Medium_0.ttf);
    font-style: normal;
  }
  
  @font-face {
    font-family: GilroyBold;
    src: url(./font/Gilroy-Bold_0.ttf);
    font-style: normal;
  }
  
  @font-face {
    font-family: Nature;
    src: url(./font/Nature.ttf);
    font-style: normal;
  }

/* TextUI System Styles */
.textui-container {
    position: fixed;
    left: 1.5vw;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
    pointer-events: none;
    z-index: 9999;
    width: auto;
}

.textui-item {
    border-radius: 0.6vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    opacity: 0;
    background: rgba(24, 22, 21, 0.94);
    transform: translateX(-1vw);
    animation: textui-slideIn 0.3s ease forwards;
    min-width: fit-content;
    white-space: nowrap;
    padding-left: 0.2vw !important;
    padding: 0.2vw 0.6vw;
}

@keyframes textui-slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.textui-item.fadeOut {
    animation: textui-slideOut 0.3s ease forwards;
}

@keyframes textui-slideOut {
    to {
        opacity: 0;
        transform: translateX(-1vw);
    }
}

.textui-key {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    border-radius: 0.5vw;
    font-weight: 600;
    font-size: 1vw;
    min-width: 2vw;
    min-height: 2vw;
    text-align: center;
    font-family: GilroySBold;
}

.textui-text {
    color: #ffffffa1;
    font-size: 0.85vw;
    font-weight: 500;
    letter-spacing: 0.02vw;
    font-family: GilroyMedium;
}

.textui-container .hidden {
    display: none !important;
}

/* Vue Transition Animations */
.textui-enter-active {
    animation: textui-slideIn 0.3s ease forwards;
}

.textui-leave-active {
    animation: textui-slideOut 0.3s ease forwards;
}

.textui-move {
    transition: transform 0.3s ease;
}
