@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
html {
	background:transparent;
	height: 100%;
}
body {
	background: transparent;
	z-index:9999;
	overflow:hidden;
}
#app {position: absolute;width:30vw;height:34vw;top:0;left:0;overflow:hidden;font-size:0.65vw;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: white;font-family: var(--font-family, 'Roboto', sans-serif);font-weight: var(--font-weight, 400);}
.chat-window {position: absolute;top: 0.5vw;left: 0.5vw;width: calc(100% - 0.5vw)!important;height: 18vw!important;max-width: 30vw;background-color:transparent!important;}
.chat-messages {width:calc(100% + 0.25vw);height:100%;flex-direction: column-reverse;overflow-y:auto;box-sizing:border-box;padding:0 0.25vw 0 0;margin:0 0 0.5vw 0;}
#app.theme5 .chat-messages {padding:0.25vw 0.25vw 0 0;}
/* MESSAGE TEMPLATE */
.chat-message {background:rgba(40,40,40,0.9);width:100%;padding:0.4vw 0.4vw;color:rgba(255,255,255,0.9);font-size:0.6vw;text-shadow:0 0 1px rgba(0,0,0,1);border-radius:0.1vw;display:flex;gap:0.3vw;box-sizing:border-box;margin:0 0 0.3vw 0;position:relative;}
.chat-message::before {content:'';position:absolute;top:20%;left:0;width:0.1vw;height:60%;display:none;}
.chat-message br {display:none;}
.chat-icon {background:rgba(65,65,65,1);color:rgba(255,255,255,1);text-shadow:1px 1px 0.2vw rgba(0,0,0,0.25);width:1.2vw;height:1.2vw;font-size:0.65vw;border-radius:0.1vw;position:relative;overflow:hidden;}
.chat-icon i {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.chat-icon img {width:90%;height:90%;object-fit:contain;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-user-drag:none;}
.chat-text {width:calc(100% - 1.5vw);word-break: break-word;}
.chat-category {font-size: 0.5vw;padding:0.2vw 0.4vw;margin:0 0.1vw 0 0;border-radius: 0;color:rgba(255,255,255,1);}
.chat-sender {color:rgba(255,255,255,1);font-size:0.6vw;font-weight:500;}
/* CHAT INPUT */
.chat-input {width:calc(100% - 0.5vw);height:2vw;position:absolute;top:19vw;left:0.5vw;}
.chat-input > div.input {position: relative;display: flex;align-items: stretch;width:100%;background-color:transparent;}
.chat-input .prefix {background:radial-gradient(80% 80% at 50% 0%, rgba(96,98,100,1) 0%, rgba(26,28,30,1) 100%);color:rgba(255,255,255,1);position:absolute;width:1.2vw;height:1.2vw;line-height:1.2vw;text-align:center;font-size:0.5vw;top:0.4vw;left:0.4vw;border-radius:0.1vw;}
.chat-input .input textarea {background:rgba(26,28,30,0.3);width:100%;height:2vw!important;max-height:2vw;line-height:2vw;border:none;font-size:0.6vw;outline:none;font-family:'Roboto';text-shadow:0 0 1px rgba(0,0,0,1);box-sizing:border-box;padding:0 0 0 2vw;box-sizing:border-box;border-radius:0.1vw;display: block;color: white;flex: 1;resize:none;}
.chat-input .input textarea:focus, .chat-input .input input:focus {background:rgba(26,28,30,0.5);}
.chat-input .input textarea::placeholder {color:rgba(255,255,255,0.5);text-shadow:0 0 1px rgba(0,0,0,0.3);}
.chat-hide-state {text-transform: uppercase;margin-left: 0.05vw;font-size: 1.65vh;}
.suggestions {list-style-type: none;padding: 0!important;font-size: 0.6vw!important;box-sizing: border-box;color: white;background-color:transparent!important;width: 100%;}
.suggestion {background:linear-gradient(90deg, rgba(255,255,255,0.1), transparent), rgba(26,28,30,0.6);width:max-content;padding:0.4vw 0.75vw;line-height:0.7vw;box-sizing:border-box;border-radius:0.2vw;margin:0 0 0.25vw 0;position:relative;}
.suggestion::before {content:'';position:Absolute;left:0;top:25%;height:50%;width:0.1vw;background:rgba(255,255,255,1);border-radius:0.2vw;}
.suggestion p {margin:0;}
.suggestion p span {font-weight:600;color:rgba(255,255,255,1);}
.suggestion p span.param {font-weight:400;color:rgba(255,255,255,0.7);}
.help {color: rgba(255,255,255,0.6);font-size:0.5vw;}
.hidden {opacity: 0;}
.hidden.animated {transition: opacity 1s;}
/* THEME 2 */
.theme2 .chat-message {border-radius:1vw;}
.theme2 .chat-icon {border-radius:50%;}
.theme2 .chat-category {border-radius:1vw;}
.theme2 .chat-input .prefix {border-radius:50%;}
.theme2 .chat-input .input textarea {border-radius:1vw;}
.theme2 .suggestion {padding:0.2vw 0.75vw;line-height:0.6vw;border-radius:2vw;}
.theme2 .suggestion::before {display:none;}
/* THEME 3 */
.theme3 .chat-message {border-radius:0;align-items:center;}
.theme3 .chat-icon {border-radius:0;}
.theme3 .chat-text {width:77%;word-break: break-word;}
.theme3 .chat-category {position:absolute;top:0.2vw;right:0.1vw;}
.theme3 .prefix {background:radial-gradient(100% 100% at 40% 0%, rgba(50,220,255,1) 0%, rgba(45,100,190,1) 100%);left:auto;right:0.4vw;border-radius:0.1vw;}
.theme3 .input textarea {padding:0 2vw 0 0.5vw;}
.theme3 .suggestions {background-color:rgba(26,28,30,0.6)!important;}
.theme3 .suggestion {background:transparent;border-radius:0;width:100%;border-bottom:1px solid rgba(255,255,255,0.05);}
.theme3 .suggestion::before {content:'';position:absolute;left:0.2vw;top:0.2vw;width:0.2vw;height:0.2vw;background:rgba(50,210,255,1);border-radius:0;}
/* THEME 4 */
.theme4 .chat-message {border-radius:0.5vw}
.theme4 .prefix {border-radius:0.3vw;transform:rotate(-5deg);}
.theme4 .input textarea {border-radius:0.4vw;}
.theme4 .chat-icon {transform:rotate(-5deg);border-radius:0.3vw;}
/* THEME 5 */
.theme5 .chat-message {border-radius:0.2vw;margin:0 0 0.5vw 0;color:rgba(230,230,230,1);}
.theme5 .chat-category {position:absolute;top:-0.3vw;left:0.25vw;padding:0;text-shadow:0 0 1px rgba(0,0,0,1);font-weight:600;}
.theme5 .chat-icon {position:absolute;top:50%;transform:translate(0,-50%);right:0.2vw;width:1vw;height:1vw;font-size:0.5vw;border-radius:0.3vw;}
/* THEME 6 */
.theme6 .chat-message {border-radius:0vw;background:rgba(255,255,255,0.05)!important;border:1px solid rgba(255,255,255,0.1);box-sizing:border-box;}
.theme6 .chat-category {position:absolute;top:0.2vw;right:1.4vw;background:linear-gradient(-90deg, rgba(255,255,255,0.05), transparent)!important;border:1px solid rgba(255,255,255,0.1);margin:0;height:1vw;line-height:1vw;padding:0 0.3vw;font-size:0.5vw;color:rgba(255,255,255,0.85);}
.theme6 .chat-icon {position:absolute;top:0.2vw;right:0.2vw;border-radius:0vw;border:1px solid rgba(255,255,255,0.1);width:1vw;height:1vw;font-size:0.5vw;}
.theme6 .chat-sender {display:block;}
.theme6 .prefix {background:linear-gradient(-90deg, rgba(255,255,255,0.05), transparent);border:1px solid rgba(255,255,255,0.1);left:auto;right:0.4vw;border-radius:0;}
.theme6 .input {border:1px solid rgba(255,255,255,0.1);}
.theme6 .input textarea {background:rgba(255,255,255,0.05);padding:0 2vw 0 0.5vw;border-radius:0;}
.theme6 .input textarea:focus, .theme6 .input input:focus {background:rgba(255,255,255,0.08);}
.theme6 .suggestions-wrap {background-color:rgba(25,25,25,0.3);box-sizing:border-box;padding:0.2vw 0.25vw;margin:0.25vw 0 0 0;}
.theme6 .suggestions {margin:0!important;}
.theme6 .suggestion {background:rgba(255,255,255,0.05);border-radius:0;width:100%;border:1px solid rgba(255,255,255,0.05);}
.theme6 .suggestion:last-child {margin:0;}
.theme6 .suggestion::before {content:'';position:absolute;left:0.2vw;top:0.2vw;width:0.2vw;height:0.2vw;background:rgba(255,210,50,1);border-radius:0;}
/* THEME 7 */
.theme7 .chat-message {border-radius:0vw;background:rgba(45,45,45,0.9)!important;}
.theme7 .chat-category {position:absolute;top:0.2vw;right:0.2vw;margin:0;height:1vw;line-height:1vw;padding:0 0.3vw;font-size:0.5vw;}
.theme7 .chat-icon {border-radius:0;}
.theme7 .chat-category::before {position:absolute;content:'';top:-0.2vw;left:0;width:100%;height:2px;}
.theme7 .prefix {background:transparent;border-radius:0;}
/* THEME 8 */
.theme8 .chat-messages {padding:0.2vw 0.25vw 0 0;}
.theme8 .chat-message {border-radius:0.6vw;margin:0 0 0.5vw 0;color:rgba(230,230,230,1);}
.theme8 .chat-message::before, .theme8 .chat-message::after {content:'';position: absolute;width:0.8vw;height: 0.8vw;display:block;top:0;left:0;}
.theme8 .chat-message::before {top:auto;bottom: 0;left: 0;border-top: none!important;border-right: none!important;border-bottom-left-radius: 0.6vw;}
.theme8 .chat-message::after {left:auto;top: 0;right: 0;border-bottom: none!important;border-left: none!important;border-top-right-radius: 0.6vw;}
.theme8 .chat-category {position:absolute;top:-0.3vw;left:0.25vw;padding:0;text-shadow:0 0 1px rgba(0,0,0,1);font-weight:600;}
.theme8 .chat-icon {position:absolute;bottom:-0.5vw;right:0.2vw;font-size:0.6vw;filter:drop-shadow(0 0 1px rgba(0,0,0,0.5));}
/* THEME 9 */
.theme9 .chat-messages {padding:0 0.25vw 0 0.5vw;}
.theme9 .chat-message {border-radius:0.2vw;align-items:center;}
.theme9 .chat-icon {border-radius:0.2vw;margin:0 0 0 -0.8vw;transform:rotate(-7deg);}
.theme9 .chat-icon i, .theme9 .chat-icon img {transform:translate(-50%,-50%) rotate(7deg);}
.theme9 .chat-text {word-break: break-word;}
.theme9 .chat-category {display:none;}
.theme9 .prefix {background:radial-gradient(circle at 40% 0%, rgba(200,200,200,0.5) 0%, rgba(100,100,100,0.5) 70%);border-radius:0.1vw;}
/* PLAYERNAME PERKS */
.chat-message.chatfx1 .chat-sender {background: -webkit-linear-gradient(0deg, rgba(0,255,120,1), rgba(0,220,255,1));-webkit-background-clip: text;-webkit-text-fill-color: transparent;text-shadow:0 0 0.6vw rgba(50,120,255,1);}
.chat-message.chatfx2 .chat-sender {background: -webkit-linear-gradient(0deg, rgba(255,220,50,1), rgba(255,120,50,1));-webkit-background-clip: text;-webkit-text-fill-color: transparent;text-shadow:0 0 0.6vw rgba(255,80,50,1);}
.chat-message.chatfx3 .chat-sender {background:url('../images/chat-appearance/chat-appearance-style-3.gif') center center;background-size:cover;color:rgba(255,90,150,1);text-shadow:0 0 0.6vw rgba(255,70,180,1);}
.chat-message.chatfx4 .chat-sender {background:url('../images/chat-appearance/chat-appearance-style-4.gif') center center;background-size:50%;color:rgba(90,180,255,1);text-shadow:0 0 0.6vw rgba(40,120,255,1);}
.chat-message.chatfx5 .chat-sender {background:url('../images/chat-appearance/chat-appearance-style-5.gif') center center;color:rgba(255,255,255,1);text-shadow:0 0 0.6vw rgba(255,255,255,0.3);}
.chat-message.chatfx6 .chat-sender {background: -webkit-linear-gradient(0deg, rgba(200,255,50,1), rgba(90,255,50,1));-webkit-background-clip: text;-webkit-text-fill-color: transparent;text-shadow:0 0 0.6vw rgba(0,255,0,0.5);}
.chat-message.chatfx7 .chat-sender {background:url('../images/chat-appearance/chat-appearance-style-7.png') 97% 0% no-repeat;background-size:0.75vw;padding:0 1.1vw 0 0;color:rgba(255,200,60,1);text-shadow:0 0 0.6vw rgba(255,100,50,0.5);}
.chat-message.chatfx8 .chat-sender {background:url('../images/chat-appearance/chat-appearance-style-8.gif') 0% 115%;background-size:140%;color:rgba(255,255,255,1);text-shadow:0 0 0.6vw rgba(255,70,50,1);}
/* err0r START */
.chat-message.err0r {background:linear-gradient(90deg, rgba(120,60,30,1), transparent);}
.chat-message.err0r .chat-icon {background:linear-gradient(135deg, rgba(255,200,70,1) 0%, rgba(215,60,50,1) 100%);}
.chat-message.err0r .chat-category {background:linear-gradient(90deg, transparent -50%, rgba(255,140,50,0.6) 100%);}
.theme3 .err0r {background:linear-gradient(-90deg, rgba(120,60,30,1), rgba(36,38,40,1));}
.theme3 .err0r::before {display:block;background:rgba(120,60,30,1);}
.theme4 .err0r {background:rgba(25,25,25,0.9);border:1px solid rgba(120,60,30,1);border-right:none;border-bottom:none;}
.theme4 .err0r .chat-category {background:transparent;color:rgba(255,200,70,1);padding:0.2vw 0;}
.theme5 .err0r .chat-category {background:transparent;color:rgba(255,200,70,1);}
.theme6 .err0r .chat-sender {color:rgba(255,200,70,1);}
.theme7 .err0r {background:linear-gradient(-90deg, rgba(120,60,30,1), rgba(36,38,40,1));}
.theme7 .err0r .chat-category::before {background: rgba(255,200,70,1);box-shadow:0 0.1vw 0.2vw rgba(255,200,70,0.3);}
.theme8 .err0r::before, .theme8 .err0r::after {border: 2px solid rgba(255,200,70,1);}
.theme8 .err0r .chat-icon {background:transparent;color:rgba(255,200,70,1);}
.theme8 .err0r .chat-category {background:transparent;color:rgba(255,200,70,1);}
.theme9 .err0r {background:linear-gradient(-90deg, rgba(120,40,40,1), rgba(40,40,40,1));}
/* err0r END */
/* autoANNOUNCE START */
.chat-message.autoAnnounce {background:linear-gradient(90deg, rgba(120,40,40,1), transparent);}
.chat-message.autoAnnounce .chat-icon {background:linear-gradient(135deg, rgba(255,100,80,1) 0%, rgba(215,20,20,1)) 100%;}
.chat-message.autoAnnounce .chat-category {background:linear-gradient(90deg, transparent -50%, rgba(255,70,70,0.6) 100%);}
.theme3 .autoAnnounce {background:linear-gradient(-90deg, rgba(120,40,40,1), rgba(36,38,40,1));}
.theme3 .autoAnnounce::before {display:block;background:rgba(120,40,40,1);}
.theme4 .autoAnnounce {background:rgba(25,25,25,0.9);border:1px solid rgba(120,40,40,1);border-right:none;border-bottom:none;}
.theme4 .autoAnnounce .chat-category {background:transparent;color:rgba(255,100,80,1);padding:0.2vw 0;}
.theme5 .autoAnnounce .chat-category {background:transparent;color:rgba(255,100,80,1);}
.theme6 .autoAnnounce .chat-sender {color:rgba(255,100,80,1);}
.theme7 .autoAnnounce {background:linear-gradient(-90deg, rgba(120,40,40,1), rgba(36,38,40,1));}
.theme7 .autoAnnounce .chat-category::before {background:rgba(255,100,80,1);box-shadow:0 0.1vw 0.2vw rgba(255,100,80,0.3);}
.theme8 .autoAnnounce::before, .theme8 .autoAnnounce::after {border: 2px solid rgba(255,100,80,1);}
.theme8 .autoAnnounce .chat-icon {background:transparent;color:rgba(255,100,80,1);}
.theme8 .autoAnnounce .chat-category {background:transparent;color:rgba(255,100,80,1);}
.theme9 .autoAnnounce {background:linear-gradient(-90deg, rgba(120,40,40,1), rgba(40,40,40,1));}
/* autoANNOUNCE END */
/* multiline START */
.msg.multiline {background:linear-gradient(90deg, rgba(90,90,90,1), transparent);width:100%;padding:0.1vw 0.4vw 0.1vw 1.9vw;color:rgba(255,255,255,1);font-size:0.6vw;line-height:0.6vw;text-shadow:0 0 1px rgba(0,0,0,1);border-radius:0.1vw;box-sizing:border-box;margin:0 0 0.3vw 0;position:relative;}
.msg.multiline::before {content:'';position:absolute;top:20%;left:0;width:0.1vw;height:60%;background:rgba(255,255,255,1);display:none;}
.msg.multiline::after {
	content:'\f121';background:linear-gradient(135deg, rgba(235,235,235,1) 0%, rgba(105,105,105,1) 100%);font-style: normal;font-variant: normal;text-rendering: auto;-webkit-font-smoothing: antialiased;font-weight:300;
	font-family: "Font Awesome 5 Pro";color:rgba(255,255,255,1);text-shadow:1px 1px 0.2vw rgba(0,0,0,0.25);width:1.2vw;height:1.2vw;line-height:1.25vw;text-align:center;font-size:0.65vw;border-radius:0.1vw;position:absolute;top:0.3vw;left:0.4vw; padding: 0 0 0 1vw;box-sizing:border-box;
}
pre  {font-family:'Roboto'; margin:0.5vw 0 0.5vw 1vw;}
.msg.multiline span span span  {font-family:'Roboto';margin:0.5vw 0 0.3vw 2vw;display:inline-block;}
.theme2 .msg.multiline {border-radius:1vw;}
.theme2 .msg.multiline::after {border-radius:50%;}
.theme3 .msg.multiline {background:linear-gradient(-90deg, rgba(90,90,90,1), rgba(36,38,40,1));}
.theme3 .msg.multiline::before {display:block;background:rgba(150,150,150,1);}
.theme4 .msg.multiline {background:rgba(25,25,25,0.9);border:1px solid rgba(120,120,120,1);border-right:none;border-bottom:none;border-radius:0.5vw;}
.theme4 .msg.multiline::after {transform:rotate(-5deg);border-radius:0.3vw;}
.theme5 .msg.multiline {border-radius:0.2vw;margin:0 0 0.5vw 0;color:rgba(230,230,230,1);padding:0.1vw 0.4vw;}
.theme5 .msg.multiline::after {position:absolute;top:50%;transform:translate(0,-50%);left:auto;right:0.2vw;width:1vw;height:1vw;font-size:0.5vw;border-radius:0.3vw;}
.theme6 .msg.multiline {border-radius:0vw;background:rgba(255,255,255,0.05)!important;border:1px solid rgba(255,255,255,0.1);box-sizing:border-box;padding:0.1vw 0.4vw;}
.theme6 .msg.multiline::after {position:absolute;left:auto;top:0.2vw;right:0.2vw;border-radius:0vw;border:1px solid rgba(255,255,255,0.1);width:1vw;height:1vw;line-height:1vw;font-size:0.5vw;}
.theme7 .msg.multiline {background:rgba(45,45,45,0.9);border-radius:0vw;}
/* multiline END */
input[type="color"]::-webkit-color-swatch-wrapper {padding: 0;outline:none;border:none;border-radius: 0;}
input[type="color"]::-webkit-color-swatch {border: none;outline:none;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
::-webkit-scrollbar-track {border: none;}
::-webkit-scrollbar {width: 0.1vw;background: transparent;}
::-webkit-scrollbar-thumb {background: rgba(255,255,255,0.6);}thumb {background: rgba(255,255,255,0.6);}
/*EDITOR INPUTS*/
/* START twt*/
.chat-message.twt {background:linear-gradient(90deg, rgba(30,90,120,1), transparent);}
.chat-message.twt .chat-icon {background:linear-gradient(135deg, rgba(50,255,255,1) 0%, rgba(50,180,255,1) 100%);}
.chat-message.twt .chat-category {background:linear-gradient(90deg, transparent -50%, rgba(50,200,255,0.6) 100%);}
.theme3 .twt {background:linear-gradient(-90deg, rgba(30,90,120,1), rgba(36,38,40,1));}
.theme3 .twt::before {display:block;background:rgba(30,90,120,1);}
.theme4 .twt {background:rgba(25,25,25,0.9);border:1px solid rgba(30,90,120,1);border-right:none;border-bottom:none;}
.theme4 .twt .chat-category {background:transparent;color:rgba(50,255,255,1);padding:0.2vw 0;}
.theme5 .twt .chat-category {background:transparent;color:rgba(50,255,255,1);}
.theme6 .twt .chat-sender {color:rgba(50,255,255,1);}
.theme7 .twt {background:linear-gradient(-90deg, rgba(30,90,120,1), rgba(36,38,40,1));}
.theme7 .twt .chat-category::before {background:rgba(50,255,255,1);box-shadow:0 0.1vw 0.2vw rgba(50,255,255,0.3);}
.theme8 .twt::before, .theme8 .twt::after {border: 2px solid rgba(50,255,255,1);}
.theme8 .twt .chat-icon {background:transparent;color:rgba(50,255,255,1);}
.theme8 .twt .chat-category {background:transparent;color:rgba(50,255,255,1);}
.theme9 .twt {background:linear-gradient(-90deg, rgba(30,90,120,1), rgba(40,40,40,1));}
/* END twt*/
/* START ems*/
.chat-message.ems {background:linear-gradient(90deg, rgba(120,40,40,1), transparent);}
.chat-message.ems .chat-icon {background:linear-gradient(135deg, rgba(255,100,80,1) 0%, rgba(215,20,20,1) 100%);}
.chat-message.ems .chat-category {background:linear-gradient(90deg, transparent -50%, rgba(255,70,70,0.6) 100%);}
.theme3 .ems {background:linear-gradient(-90deg, rgba(120,40,40,1), rgba(36,38,40,1));}
.theme3 .ems::before {display:block;background:rgba(120,40,40,1);}
.theme4 .ems {background:rgba(25,25,25,0.9);border:1px solid rgba(120,40,40,1);border-right:none;border-bottom:none;}
.theme4 .ems .chat-category {background:transparent;color:rgba(255,100,80,1);padding:0.2vw 0;}
.theme5 .ems .chat-category {background:transparent;color:rgba(255,100,80,1);}
.theme6 .ems .chat-sender {color:rgba(255,100,80,1);}
.theme7 .ems {background:linear-gradient(-90deg, rgba(120,40,40,1), rgba(36,38,40,1));}
.theme7 .ems .chat-category::before {background:rgba(255,100,80,1);box-shadow:0 0.1vw 0.2vw rgba(255,100,80,0.3);}
.theme8 .ems::before, .theme8 .ems::after {border: 2px solid rgba(255,100,80,1);}
.theme8 .ems .chat-icon {background:transparent;color:rgba(255,100,80,1);}
.theme8 .ems .chat-category {background:transparent;color:rgba(255,100,80,1);}
.theme9 .ems {background:linear-gradient(-90deg, rgba(120,40,40,1), rgba(40,40,40,1));}
/* END ems*/
/* START pd*/
.chat-message.pd {background:linear-gradient(90deg, rgba(40,80,120,1), transparent);}
.chat-message.pd .chat-icon {background:linear-gradient(135deg, rgba(50,200,255,1) 0%, rgba(30,120,255,1) 100%);}
.chat-message.pd .chat-category {background:linear-gradient(90deg, transparent -50%, rgba(50,130,255,0.6) 100%);}
.theme3 .pd {background:linear-gradient(-90deg, rgba(40,80,120,1), rgba(36,38,40,1));}
.theme3 .pd::before {display:block;background:rgba(40,80,120,1);}
.theme4 .pd {background:rgba(25,25,25,0.9);border:1px solid rgba(40,80,120,1);border-right:none;border-bottom:none;}
.theme4 .pd .chat-category {background:transparent;color:rgba(50,200,255,1);padding:0.2vw 0;}
.theme5 .pd .chat-category {background:transparent;color:rgba(50,200,255,1);}
.theme6 .pd .chat-sender {color:rgba(50,200,255,1);}
.theme7 .pd {background:linear-gradient(-90deg, rgba(40,80,120,1), rgba(36,38,40,1));}
.theme7 .pd .chat-category::before {background:rgba(50,200,255,1);box-shadow:0 0.1vw 0.2vw rgba(50,200,255,0.3);}
.theme8 .pd::before, .theme8 .pd::after {border: 2px solid rgba(50,200,255,1);}
.theme8 .pd .chat-icon {background:transparent;color:rgba(50,200,255,1);}
.theme8 .pd .chat-category {background:transparent;color:rgba(50,200,255,1);}
.theme9 .pd {background:linear-gradient(-90deg, rgba(40,80,120,1), rgba(40,40,40,1));}
/* END pd*/
/* START announce*/
.chat-message.announce {background:linear-gradient(90deg, rgba(120,40,40,1), transparent);}
.chat-message.announce .chat-icon {background:linear-gradient(135deg, rgba(255,100,80,1) 0%, rgba(215,20,20,1) 100%);}
.chat-message.announce .chat-category {background:linear-gradient(90deg, transparent -50%, rgba(200,40,40,0.6) 100%);}
.theme3 .announce {background:linear-gradient(-90deg, rgba(120,40,40,1), rgba(36,38,40,1));}
.theme3 .announce::before {display:block;background:rgba(120,40,40,1);}
.theme4 .announce {background:rgba(25,25,25,0.9);border:1px solid rgba(120,40,40,1);border-right:none;border-bottom:none;}
.theme4 .announce .chat-category {background:transparent;color:rgba(255,100,80,1);padding:0.2vw 0;}
.theme5 .announce .chat-category {background:transparent;color:rgba(255,100,80,1);}
.theme6 .announce .chat-sender {color:rgba(255,100,80,1);}
.theme7 .announce {background:linear-gradient(-90deg, rgba(120,40,40,1), rgba(36,38,40,1));}
.theme7 .announce .chat-category::before {background:rgba(255,100,80,1);box-shadow:0 0.1vw 0.2vw rgba(255,100,80,0.3);}
.theme8 .announce::before, .theme8 .announce::after {border: 2px solid rgba(255,100,80,1);}
.theme8 .announce .chat-icon {background:transparent;color:rgba(255,100,80,1);}
.theme8 .announce .chat-category {background:transparent;color:rgba(255,100,80,1);}
.theme9 .announce {background:linear-gradient(-90deg, rgba(120,40,40,1), rgba(40,40,40,1));}
/* END announce*/
/* START anon*/
.chat-message.anon {background:linear-gradient(90deg, rgba(50,40,120,1), transparent);}
.chat-message.anon .chat-icon {background:linear-gradient(135deg, rgba(170,150,255,1) 0%, rgba(110,110,235,1) 100%);}
.chat-message.anon .chat-category {background:linear-gradient(90deg, transparent -50%, rgba(170,150,255,0.6) 100%);}
.theme3 .anon {background:linear-gradient(-90deg, rgba(50,40,120,1), rgba(36,38,40,1));}
.theme3 .anon::before {display:block;background:rgba(50,40,120,1);}
.theme4 .anon {background:rgba(25,25,25,0.9);border:1px solid rgba(50,40,120,1);border-right:none;border-bottom:none;}
.theme4 .anon .chat-category {background:transparent;color:rgba(170,150,255,1);padding:0.2vw 0;}
.theme5 .anon .chat-category {background:transparent;color:rgba(170,150,255,1);}
.theme6 .anon .chat-sender {color:rgba(170,150,255,1);}
.theme7 .anon {background:linear-gradient(-90deg, rgba(50,40,120,1), rgba(36,38,40,1));}
.theme7 .anon .chat-category::before {background:rgba(170,150,255,1);box-shadow:0 0.1vw 0.2vw rgba(170,150,255,0.3);}
.theme8 .anon::before, .theme8 .anon::after {border: 2px solid rgba(170,150,255,1);}
.theme8 .anon .chat-icon {background:transparent;color:rgba(170,150,255,1);}
.theme8 .anon .chat-category {background:transparent;color:rgba(170,150,255,1);}
.theme9 .anon {background:linear-gradient(-90deg, rgba(50,40,120,1), rgba(40,40,40,1));}
/* END anon*/
/* START ad*/
.chat-message.ad {background:linear-gradient(90deg, rgba(120,100,40,1), transparent);}
.chat-message.ad .chat-icon {background:linear-gradient(135deg, rgba(255,220,50,1) 0%, rgba(235,200,20,1) 100%);}
.chat-message.ad .chat-category {background:linear-gradient(90deg, transparent -50%, rgba(255,220,50,0.6) 100%);}
.theme3 .ad {background:linear-gradient(-90deg, rgba(120,100,40,1), rgba(36,38,40,1));}
.theme3 .ad::before {display:block;background:rgba(120,100,40,1);}
.theme4 .ad {background:rgba(25,25,25,0.9);border:1px solid rgba(120,100,40,1);border-right:none;border-bottom:none;}
.theme4 .ad .chat-category {background:transparent;color:rgba(255,220,50,1);padding:0.2vw 0;}
.theme5 .ad .chat-category {background:transparent;color:rgba(255,220,50,1);}
.theme6 .ad .chat-sender {color:rgba(255,220,50,1);}
.theme7 .ad {background:linear-gradient(-90deg, rgba(120,100,40,1), rgba(36,38,40,1));}
.theme7 .ad .chat-category::before {background:rgba(255,220,50,1);box-shadow:0 0.1vw 0.2vw rgba(255,220,50,0.3);}
.theme8 .ad::before, .theme8 .ad::after {border: 2px solid rgba(255,220,50,1);}
.theme8 .ad .chat-icon {background:transparent;color:rgba(255,220,50,1);}
.theme8 .ad .chat-category {background:transparent;color:rgba(255,220,50,1);}
.theme9 .ad {background:linear-gradient(-90deg, rgba(120,100,40,1), rgba(40,40,40,1));}
/* END ad*/
/* START ooc*/
.chat-message.ooc {background:linear-gradient(90deg, rgba(30,75,105,1), transparent);}
.chat-message.ooc .chat-icon {background:linear-gradient(135deg, rgba(20,135,185,1) 0%, rgba(30,40,60,1) 100%);}
.chat-message.ooc .chat-category {background:linear-gradient(90deg, transparent -50%, rgba(20,135,185,0.6) 100%);}
.theme3 .ooc {background:linear-gradient(-90deg, rgba(30,75,105,1), rgba(36,38,40,1));}
.theme3 .ooc::before {display:block;background:rgba(30,75,105,1);}
.theme4 .ooc {background:rgba(25,25,25,0.9);border:1px solid rgba(30,75,105,1);border-right:none;border-bottom:none;}
.theme4 .ooc .chat-category {background:transparent;color:rgba(20,135,185,1);padding:0.2vw 0;}
.theme5 .ooc .chat-category {background:transparent;color:rgba(20,135,185,1);}
.theme6 .ooc .chat-sender {color:rgba(20,135,185,1);}
.theme7 .ooc {background:linear-gradient(-90deg, rgba(30,75,105,1), rgba(36,38,40,1));}
.theme7 .ooc .chat-category::before {background:rgba(20,135,185,1);box-shadow:0 0.1vw 0.2vw rgba(20,135,185,0.3);}
.theme8 .ooc::before, .theme8 .ooc::after {border: 2px solid rgba(20,135,185,1);}
.theme8 .ooc .chat-icon {background:transparent;color:rgba(20,135,185,1);}
.theme8 .ooc .chat-category {background:transparent;color:rgba(20,135,185,1);}
.theme9 .ooc {background:linear-gradient(-90deg, rgba(30,75,105,1), rgba(40,40,40,1));}
/* END ooc*/
/* START me*/
.chat-message.me {background:linear-gradient(90deg, rgba(110,70,40,1), transparent);}
.chat-message.me .chat-icon {background:linear-gradient(135deg, rgba(215,150,100,1) 0%, rgba(135,75,50,1) 100%);}
.chat-message.me .chat-category {background:linear-gradient(90deg, transparent -50%, rgba(215,150,100,0.6) 100%);}
.theme3 .me {background:linear-gradient(-90deg, rgba(110,70,40,1), rgba(36,38,40,1));}
.theme3 .me::before {display:block;background:rgba(110,70,40,1);}
.theme4 .me {background:rgba(25,25,25,0.9);border:1px solid rgba(110,70,40,1);border-right:none;border-bottom:none;}
.theme4 .me .chat-category {background:transparent;color:rgba(215,150,100,1);padding:0.2vw 0;}
.theme5 .me .chat-category {background:transparent;color:rgba(215,150,100,1);}
.theme6 .me .chat-sender {color:rgba(215,150,100,1);}
.theme7 .me {background:linear-gradient(-90deg, rgba(110,70,40,1), rgba(36,38,40,1));}
.theme7 .me .chat-category::before {background:rgba(215,150,100,1);box-shadow:0 0.1vw 0.2vw rgba(215,150,100,0.3);}
.theme8 .me::before, .theme8 .me::after {border: 2px solid rgba(215,150,100,1);}
.theme8 .me .chat-icon {background:transparent;color:rgba(215,150,100,1);}
.theme8 .me .chat-category {background:transparent;color:rgba(215,150,100,1);}
.theme9 .me {background:linear-gradient(-90deg, rgba(110,70,40,1), rgba(40,40,40,1));}
/* END me*/
/* START do*/
.chat-message.do {background:linear-gradient(90deg, rgba(40,120,100,1), transparent);}
.chat-message.do .chat-icon {background:linear-gradient(135deg, rgba(40,255,150,1) 0%, rgba(20,170,100,1) 100%);}
.chat-message.do .chat-category {background:linear-gradient(90deg, transparent -50%, rgba(40,255,150,0.6) 100%);}
.theme3 .do {background:linear-gradient(-90deg, rgba(40,120,100,1), rgba(36,38,40,1));}
.theme3 .do::before {display:block;background:rgba(40,120,100,1);}
.theme4 .do {background:rgba(25,25,25,0.9);border:1px solid rgba(40,120,100,1);border-right:none;border-bottom:none;}
.theme4 .do .chat-category {background:transparent;color:rgba(40,255,150,1);padding:0.2vw 0;}
.theme5 .do .chat-category {background:transparent;color:rgba(40,255,150,1);}
.theme6 .do .chat-sender {color:rgba(40,255,150,1);}
.theme7 .do {background:linear-gradient(-90deg, rgba(40,120,100,1), rgba(36,38,40,1));}
.theme7 .do .chat-category::before {background:rgba(40,255,150,1);box-shadow:0 0.1vw 0.2vw rgba(40,255,150,0.3);}
.theme8 .do::before, .theme8 .do::after {border: 2px solid rgba(40,255,150,1);}
.theme8 .do .chat-icon {background:transparent;color:rgba(40,255,150,1);}
.theme8 .do .chat-category {background:transparent;color:rgba(40,255,150,1);}
.theme9 .do {background:linear-gradient(-90deg, rgba(40,120,100,1), rgba(40,40,40,1));}
/* END do*/
/* START staff*/
.chat-message.staff {background:linear-gradient(90deg, rgba(55,103,30,1), transparent);}
.chat-message.staff .chat-icon {background:linear-gradient(135deg, rgba(110,255,40,1) 0%, rgba(90,159,56,1) 100%);}
.chat-message.staff .chat-category {background:linear-gradient(90deg, transparent -50%, rgba(110,255,40,0.6) 100%);}
.theme3 .staff {background:linear-gradient(-90deg, rgba(55,103,30,1), rgba(36,38,40,1));}
.theme3 .staff::before {display:block;background:rgba(55,103,30,1);}
.theme4 .staff {background:rgba(25,25,25,0.9);border:1px solid rgba(55,103,30,1);border-right:none;border-bottom:none;}
.theme4 .staff .chat-category {background:transparent;color:rgba(110,255,40,1);padding:0.2vw 0;}
.theme5 .staff .chat-category {background:transparent;color:rgba(110,255,40,1);}
.theme6 .staff .chat-sender {color:rgba(110,255,40,1);}
.theme7 .staff {background:linear-gradient(-90deg, rgba(55,103,30,1), rgba(36,38,40,1));}
.theme7 .staff .chat-category::before {background:rgba(110,255,40,1);box-shadow:0 0.1vw 0.2vw rgba(110,255,40,0.3);}
.theme8 .staff::before, .theme8 .staff::after {border: 2px solid rgba(110,255,40,1);}
.theme8 .staff .chat-icon {background:transparent;color:rgba(110,255,40,1);}
.theme8 .staff .chat-category {background:transparent;color:rgba(110,255,40,1);}
.theme9 .staff {background:linear-gradient(-90deg, rgba(55,103,30,1), rgba(40,40,40,1));}
/* END staff*/
