html {
	background:transparent;
	height: 100%;
}

body {
	background: transparent;
	z-index:9999;
	overflow:hidden;
}

#wrap-settings:hover {
	opacity: 1;
  }

/* SETTINGS */
#wrap-settings {background:rgba(26,28,30,1);width:60vw;height:46vw;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;gap:0.5vw;padding:0.5vw;border-radius:0.2vw;z-index:999;font-family:'Quicksand';color:rgba(255,255,255,1);box-shadow:0 0 1vw rgba(0,0,0,0.5);opacity: 0.2;transition: opacity 0.3s ease;}

.settings-topbar {background:rgba(35,38,44,1);width:100%;height:2.5vw;box-sizing:border-box;color:rgba(226,228,233,1);border-radius:0.3vw;margin:0 0 0.5vw 0;display:flex;align-items:center;overflow:hidden;}
.settings-topbar-logo {background:rgba(0,0,0,0);width:26%;height:100%;box-sizing:border-box;padding:0 0.5vw;font-size:0.9vw;font-weight:600;display:flex;align-items:center;gap:0.3vw;color:rgba(255,255,255,1);border-radius:0.3vw;}
.settings-topbar-logo img {width:2.5vw;height:2.5vw;}
.settings-topbar-menu {width:75%;height:100%;text-align:left;display:flex;font-size:0.7vw;align-items:end;}
.settings-topbar-menu .nav-item {background:transparent;color:rgba(255,255,255,0.6);height:2.5vw;padding:0 0.8vw;border:none;border-bottom:0.1vw solid transparent;outline:none;transition:0.2s;position:relative;}
.settings-topbar-menu .nav-item i {margin:0 0.2vw 0 0;}
.settings-topbar-menu .nav-item:hover, .settings-topbar-menu .nav-item.active {background:rgba(255,255,255,0.03);color:rgba(255,255,255,1);border-bottom:0.1vw solid rgba(38,110,255,1);cursor:pointer;}
.settings-topbar-menu .nav-item p {position:absolute;bottom:-0.3vw;left:50%;transform:translate(-50%,0);font-size:0.4vw;color:rgba(255,255,255,1);background:rgba(35,170,80,1);padding:0 0.3vw;border-radius:0.5vw;}
.settings-topbar-menu .nav-item.disabled {background:rgba(0,0,0,0.05);color:rgba(255,255,255,0.4);border-bottom:0.1vw solid rgba(255,255,255,0);cursor:initial;}
.settings-topbar-menu .nav-item.disabled p {display:block;}
.settings-topbar #nav-item-close {background:rgba(200,50,50,1);width:1.2vw;height:1vw;position:absolute;top:1.2vw;right:1.2vw;border:none;outline:none;color:rgba(255,255,255,1);font-size:0.5vw;border-radius:0.1vw;transition:0.2s;}
.settings-topbar #nav-item-close:hover {background:rgba(235,60,60,1);box-shadow:0 0.3vw 0.8vw rgba(255,0,0,0.3);cursor:pointer}
.settings-topbar #nav-item-close i {position:absolute;top:50%;left:50%;transform:Translate(-50%,-50%);}



/* POP UP */
.settings-popup {position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(26,28,30,0.5);z-index:10;backdrop-filter:blur(5px);border-radius:0.2vw;display:flex;align-items:center;justify-content:center;}
.settings-popup-content {background:rgba(34,37,43,1);width:40%;max-height:60%;border-radius:0.5vw;overflow:hidden;text-align:center;padding:0 0 1vw 0;}
.settings-popup-title {width:100%;height:2.5vw;line-height:2.5vw;font-size:0.8vw;font-weight:600;box-sizing:border-box;padding:0 0.8vw;background:rgba(0,0,0,0.1);text-align:left;}
.settings-popup-title .fa-bell {color:rgba(50,210,255,1);text-shadow: 0 0 1vw rgba(50,150,255,1);margin:0 0.2vw 0 0;}
.settings-popup-text {width:100%;box-sizing:border-box;padding:1vw;font-size:0.7vw;color:rgba(255,255,255,0.8);text-align:left;}

.btn-settings-popup {background:rgba(35,160,70,0.7);color:rgba(255,255,255,1);outline:none;border:none;border-radius:0.1vw;transition:0.2s;font-size:0.7vw;padding:0.4vw 0.8vw;margin:0 0.2vw;}
.btn-settings-popup.green:hover {background:rgba(35,160,70,1);box-shadow:0 0.2vw 0.5vw rgba(50,255,100,0.2);cursor:pointer;}

.btn-settings-popup.red {background:rgba(220,50,50,0.7);}
.btn-settings-popup.red:hover {background:rgba(210,60,60,1);box-shadow:0 0.2vw 0.5vw rgba(255,0,0,0.3);cursor:pointer;}


.settings-content {width:100%;height:calc(100% - 3vw);display:flex;gap:1%;}
.settings-content .tabs {background:rgba(34,37,43,1);width:25%;height:calc(100% - 2vw);box-sizing:border-box;border-radius:0.25vw;padding:0.25vw;position:relative;}
.settings-content .tabs .btn-tab {background:rgba(0,0,0,0.1);width:100%;height:2.4vw;display:flex;align-items:center;text-align:left;gap:0.3vw;border:none;outline:none;font-size:0.65vw;font-weight:500;color:rgba(255,255,255,0.6);box-sizing:border-box;transition:0.2s;border-radius:0.2vw;margin:0 0 0.25vw 0;padding:0 0 0 0.4vw;position:relative;}
.settings-content .tabs .btn-tab:hover, #wrap-settings .tabs .btn-tab.active {background:rgba(39,42,48,1);color:rgba(255,255,255,1);cursor:pointer;}
.settings-content .tabs .btn-tab::before {content:'';width:0.12vw;height:0%;transition:0.2s;background:rgba(38,110,255,1);border-radius:0 0.2vw 0.2vw 0;top:50%;left:0;position:absolute;}
.settings-content .tabs .btn-tab:hover::before, .settings-content .tabs .btn-tab.active::before {height:80%;top:10%;}
.settings-content .tabs .btn-tab i {display:block;width:1.3vw;height:1.3vw;line-height:1.3vw;border-radius:0.2vw;background:rgba(39,42,48,1);text-align:center;transition:0.2s;}
.settings-content .tabs .btn-tab:hover i, #wrap-settings .tabs .btn-tab.active i {background:rgba(38,110,255,1);color:rgba(255,255,255,1);}
.settings-content .tabs .btn-clear-chat {background:linear-gradient(0deg, rgba(255,50,50,0.1), transparent), rgba(0,0,0,0.1);color:rgba(255,255,255,1);position:absolute;bottom:0.5vw;left:5%;width:90%;height:2vw;border:1px solid rgba(255,50,50,0.1);border-radius:0.1vw;outline:none;transition:0.2s;}
.settings-content .tabs .btn-clear-chat i {color:rgba(255,80,80,1);text-shadow:0 0 1vw rgba(255,0,0,1);margin:0 0.2vw 0 0;}
.settings-content .tabs .btn-clear-chat:hover {background:linear-gradient(0deg, rgba(255,50,70,0.2), transparent), rgba(255,0,0,0.2);cursor:pointer;}

.settings-content .tabs .automatic-message-wrap {color:rgba(255,255,255,1);position:absolute;bottom:5vw;left:5%;width:90%;height:8vw;box-sizing:border-box;}
.settings-content .tabs .automatic-message-wrap-title {background:rgba(255,255,255,0.02);width:100%;height:1.6vw;line-height:1.6vw;font-size:0.55vw;box-sizing:border-box;padding:0 0.5vw;display:flex;align-items:center;justify-content:space-between;}
.settings-content .tabs .automatic-message-wrap textarea {background:rgba(0,0,0,0.1);width:100%;height:6vw;outline:none;color:rgba(255,255,255,1);resize:none;font-size:0.55vw;border:1px solid rgba(255,255,255,0.05);padding:0.4vw;box-sizing:border-box;margin:0 0 0.25vw 0;}
.settings-content .tabs .automatic-message-wrap .automatic-message-footer {width:100%;display:flex;gap:0.25vw;}
.settings-content .tabs .automatic-message-wrap .automatic-message-time {background:rgba(0,0,0,0.1);width:55%;height:1.6vw;line-height:1.6vw;box-sizing:border-box;padding:0 0.4vw;outline:none;color:rgba(255,255,255,1);font-size:0.55vw;border:none;}
.settings-content .tabs .automatic-message-wrap .automatic-message-save {background:rgba(35,160,70,0.7);width:45%;height:1.6vw;line-height:1.6vw;outline:none;color:rgba(255,255,255,1);font-size:0.6vw;border:none;transition:0.2s;}
.settings-content .tabs .automatic-message-wrap .automatic-message-save:hover {background:rgba(35,160,70,1);box-shadow:0 0.2vw 0.5vw rgba(50,255,100,0.2);cursor:pointer;}


#wrap-settings .tab-content {background:rgba(34,37,43,1);width:74%;box-sizing:border-box;border-radius:0.25vw;font-size:0.65vw;display:none;padding:0.25vw;position:relative;}
#wrap-settings .tab-content.active {display:block;}

#wrap-settings .tab-content .create-category-title {background:linear-gradient(90deg, rgba(50,150,255,0.2), transparent);width:100%;height:2vw;line-height:2vw;font-size:0.7vw;font-weight:600;box-sizing:border-box;padding:0 0.5vw;margin:0 0 0.25vw 0;}
#wrap-settings .tab-content .create-category-title span {color:rgba(50,160,255,1);}

#wrap-settings .tab-content .setting-item {background:rgba(255,255,255,0.05);color:rgba(255,255,255,1);width:100%;padding:0.4vw 0.5vw;height:2vw;margin:0 0 0.2vw 0;font-weight:500;border-radius:0.1vw;display:flex;align-items:center;justify-content:space-between;font-size:0.6vw;}
#wrap-settings .tab-content .setting-item div {display:flex;align-items:center;gap:0.4vw;}
#wrap-settings .tab-content .setting-item.setting-item-shape {height:auto;display:block;}
#wrap-settings .tab-content .setting-item.autoHeight {height:auto;}



#wrap-settings .tab-content .setting-item.setting-themes {width:100%;height:100%;display:block;padding:0.5vw 0 0 0.5vw;}
#wrap-settings .tab-content .setting-item .setting-theme-wrap {background:rgba(31,33,39,1);width:32%;height:12vw;float:left;margin:0 1% 0.5vw 0;display:block;box-sizing:border-box;padding:0.15vw 0;position:relative;}
#wrap-settings .tab-content .setting-item .setting-theme-wrap img {width:100%;height:calc(100% - 1.6vw);object-fit:cover;-webkit-user-drag:none;margin:-0.1vw 0 0 0;}
#wrap-settings .tab-content .setting-item.setting-themes .setting-theme-options {width:100%;display:flex;gap:0.25vw;box-sizing:border-box;padding:0 0.25vw;position:relative;z-index:2;}
#wrap-settings .tab-content .setting-item.setting-themes .setting-theme-options button {background:linear-gradient(0deg, rgba(255,255,255,0.2), rgba(255,255,255,0.1));width:100%;height:1.6vw;border-radius:0.1vw;border:1px solid rgba(255,255,255,0.05);font-size:0.55vw;color:rgba(255,255,255,1);outline:none;transition:0.2s;}
#wrap-settings .tab-content .setting-item.setting-themes .setting-theme-options .setting-theme-select:hover, #wrap-settings .tab-content .setting-item.setting-themes .setting-theme-options .setting-theme-select.active {background:linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.1));cursor:pointer;}
#wrap-settings .tab-content .setting-item.setting-themes .setting-theme-options .setting-theme-default:hover, #wrap-settings .tab-content .setting-item.setting-themes .setting-theme-options .setting-theme-default.active {background:linear-gradient(0deg, rgba(0,150,255,0.5), rgba(50,150,255,0.1));border:1px solid rgba(0,180,255,0.2);cursor:pointer;}

#wrap-settings .tab-content .setting-item .setting-theme-wrap.default::before {content:'Default';background:rgba(0,80,130,0.7);padding:0.2vw 0.3vw;position:absolute;top:0.2vw;right:0.2vw;font-size:0.5vw;color:rgba(50,210,255,1);text-shadow: 0 0 1vw rgba(0,0,0.1);z-index:1;}



/* CHAT CATEGORIES SETTINGS */
#chatCatContent {overflow-y:auto;}
#wrap-settings .tab-content .setting-chat-category {background:rgba(31,33,39,1);width:100%;box-sizing:border-box;padding:0.25vw;position:relative;border-radius:0.2vw;margin:0 0 0.1vw 0;}
#wrap-settings .tab-content .setting-chat-category .chat-item {margin:0;align-items:center;}
#wrap-settings .tab-content .setting-chat-category .setting-chat-category-delete {background:rgba(255,50,50,0.1);width:1.2vw;height:1.2vw;color:rgba(255,70,70,1);border:none;outline:none;position:absolute;right:0.5vw;top:0.6vw;transition:0.2s;cursor:pointer;}
#wrap-settings .tab-content .setting-chat-category .setting-chat-category-delete:hover {background:rgba(255,60,60,0.7);color:rgba(255,255,255,1);}
#wrap-settings .tab-content .setting-chat-category .setting-chat-category-edit {background:rgba(255,150,50,0.1);width:1.2vw;height:1.2vw;color:rgba(255,200,50,1);border:none;outline:none;position:absolute;right:2vw;top:0.6vw;transition:0.2s;cursor:pointer;}
#wrap-settings .tab-content .setting-chat-category .setting-chat-category-edit:hover {background:rgba(255,190,50,0.7);color:rgba(255,255,255,1);}

#wrap-settings .tab-content .setting-chat-preview {background:rgba(31,33,39,1);width:100%;box-sizing:border-box;padding:0.25vw;position:relative;border-radius:0.2vw;margin:0 0 0.2vw 0;}
#wrap-settings .tab-content .setting-chat-preview .chat-item {margin:0;align-items:center;}

#wrap-settings .tab-content .settings-scrollable {width:100%;height:calc(100% - 8.5vw);overflow-y:scroll;margin:0 0 0.5vw 0;}

#wrap-settings .tab-content .settings-actions {width:100%;background:rgba(0,0,0,0.1);display:flex;align-items:center;justify-content:end;padding:0.25vw 0.25vw;gap:0.25vw;box-sizing:border-box;}

.settings-content .tabs .automatic-message-wrap .automatic-message-save {background:rgba(35,160,70,0.7);width:45%;height:1.6vw;line-height:1.6vw;outline:none;color:rgba(255,255,255,1);font-size:0.6vw;border:none;transition:0.2s;}
.settings-content .tabs .automatic-message-wrap .automatic-message-save:hover {background:rgba(35,160,70,1);box-shadow:0 0.2vw 0.5vw rgba(50,255,100,0.2);cursor:pointer;}


#wrap-settings .tab-content .setting-chat-save {background:rgba(35,160,70,0.7);color:rgba(255,255,255,1);outline:none;border:none;border-radius:0.1vw;transition:0.2s;font-size:0.6vw;padding:0.4vw 0.8vw;}
#wrap-settings .tab-content .setting-chat-save:hover {background:rgba(35,160,70,1);box-shadow:0 0.2vw 0.5vw rgba(50,255,100,0.2);cursor:pointer;}

#wrap-settings .tab-content .settings-general-save {background:rgba(35,160,70,0.7);color:rgba(255,255,255,1);outline:none;border:none;border-radius:0.1vw;transition:0.2s;font-size:0.6vw;padding:0.4vw 0.8vw;}
#wrap-settings .tab-content .settings-general-save:hover {background:rgba(35,160,70,1);box-shadow:0 0.2vw 0.5vw rgba(50,255,100,0.2);cursor:pointer;}


#wrap-settings .tab-content .setting-chat-apply {background:rgba(200,100,30,0.7);color:rgba(255,255,255,1);outline:none;border:none;border-radius:0.1vw;transition:0.2s;font-size:0.6vw;padding:0.4vw 0.8vw;}
#wrap-settings .tab-content .setting-chat-apply:hover {background:rgba(200,125,30,1);box-shadow:0 0.2vw 0.5vw rgba(255,80,30,0.3);cursor:pointer;}

#wrap-settings .tab-content .settings-notice {background:rgba(255,50,50,0.1);position:absolute;width:calc(100% - 0.5vw);height:2vw;line-height:2vw;font-size:0.6vw;text-align:center;color:rgba(255,70,70,1);bottom:0.25vw;left:0.25vw;border-radius:0.2vw;}



#wrap-settings .tab-content .setting-item #chat-size-value {width:1vw;text-align:right;float:right;margin:0.12vw 0.2vw auto 0.3vw;}

#wrap-settings .tab-content .setting-item .setting-chat-font {background:rgba(35,80,180,1);color:rgba(255,255,255,1);font-size:0.7vw;padding:0.3vw 0.5vw;border-radius:0.1vw;border:none;outline:none;transition:0.2s;}
#wrap-settings .tab-content .setting-item .setting-chat-font:hover, #wrap-settings .tab-content .setting-item .setting-chat-font.active {background:rgba(45,140,220,1);cursor:pointer;}
#wrap-settings .tab-content .setting-item .setting-chat-font.quicksand {font-family:'Quicksand';}
#wrap-settings .tab-content .setting-item .setting-chat-font.manrope {font-family:'Manrope';}
#wrap-settings .tab-content .setting-item .setting-chat-font.roboto {font-family:'Roboto';}
#wrap-settings .tab-content .setting-item .setting-chat-font.chat-font-sharetech {font-family:'Share Tech';}

#wrap-settings .tab-content .setting-item .setting-chat-mode {background:rgba(35,80,180,1);color:rgba(255,255,255,1);font-size:0.7vw;padding:0.3vw 0.5vw;border-radius:0.1vw;border:none;outline:none;transition:0.2s;}
#wrap-settings .tab-content .setting-item .setting-chat-mode:hover, #wrap-settings .tab-content .setting-item .setting-chat-mode.active {background:rgba(45,140,220,1);cursor:pointer;}
#wrap-settings .tab-content .setting-item .setting-chat-mode.quicksand {font-family:'Quicksand';}
#wrap-settings .tab-content .setting-item .setting-chat-mode.manrope {font-family:'Manrope';}
#wrap-settings .tab-content .setting-item .setting-chat-mode.roboto {font-family:'Roboto';}
#wrap-settings .tab-content .setting-item .setting-chat-mode.chat-font-sharetech {font-family:'Share Tech';}


#wrap-settings .tab-content .setting-item .setting-chat-color {width:1.2vw;height:1.2vw;border:0;padding:0;outline:0;cursor:pointer;position:relative;appearance: none; -webkit-appearance: none;}
#wrap-settings .tab-content .setting-item .strain-text-input {background:rgba(0,0,0,0.1);color:rgba(255,255,255,1);width:12vw;padding:0.4vw 0.7vw;font-size:0.65vw;border:none;outline:none;}
#wrap-settings .tab-content .setting-item .strain-text-input.medium {width:7vw;}
#wrap-settings .tab-content .setting-item .strain-text-input.small {width:3vw;text-align:center;}
#wrap-settings .tab-content .setting-item .strain-text-input.image-preview-input {display:none;}


#wrap-settings .strain-switch {position: relative;display: inline-block;width: 1.8vw;height: 0.8vw;}
#wrap-settings .strain-switch input {opacity: 0;width: 0;height: 0;}
#wrap-settings .strain-slider {background:rgba(0,0,0,0.2);position: absolute;cursor: pointer;top:0;left:0;right:0;bottom:0;-webkit-transition: .4s;transition: .4s;}
#wrap-settings .strain-slider:before {position: absolute;content: "";height: 0.6vw;width: 0.6vw;left: 0.1vw;bottom: 0.1vw;background-color: white;-webkit-transition: .4s;transition: .4s;}

#wrap-settings input:checked + .strain-slider {background: rgba(38,110,255,1);}
#wrap-settings input:checked + .strain-slider:before {-webkit-transform: translateX(1vw);-ms-transform: translateX(1vw);transform: translateX(1vw);}

#wrap-settings .tab-content .setting-item .strain-range {-webkit-appearance: none;width: 10vw;margin:0 auto;height: 0.1vw;background:rgba(95,95,95,1);border-radius:1vw;outline: none;padding:0;border:none;opacity: 1;transition: 0.2s;}
#wrap-settings .tab-content .setting-item .strain-range::-webkit-slider-thumb {-webkit-appearance: none;appearance: none;width: 0.4vw;height: 0.45vw;background:rgba(38,150,255,1);cursor: pointer;}
#wrap-settings .tab-content .setting-item .strain-range::-moz-range-thumb {width: 0.5vw;height:0.5vw;cursor: pointer;}


.settings-content .tabs .automatic-message-wrap-title .strain-switch {transform:scale(0.8);}

/* CHAT EFFECTS */

#wrap-settings #playernamePerksContent .settings-scrollable {height:max-content;}

#wrap-settings .tab-content .setting-chat-effects-notice {background:rgba(255,160,50,0.1);font-size:0.6vw;line-height:1.2vw;padding:0.5vw 0;text-align:center;color:rgba(255,210,50,1);border-radius:0.2vw;margin:0 0 0.5vw 0;}
#wrap-settings .tab-content .setting-chat-effects-notice p {margin:0;}
#wrap-settings .tab-content .setting-chat-effects-notice .btn-purchase-playername {background:rgba(255,160,50,0.1);height:1.4vw;border-radius:0.1vw;padding:0 0.75vw;border:none;font-size:0.55vw;color:rgba(255,210,50,1);outline:none;transition:0.2s;}
#wrap-settings .tab-content .setting-chat-effects-notice .btn-purchase-playername:hover {background:rgba(255,200,50,0.6);color:rgba(255,255,255,1);cursor:pointer;}

#wrap-settings .tab-content .setting-item.setting-chat-effects {display:grid!important;height:max-content;grid-template-columns:24% 24% 24% 24%;gap:1%;}
#wrap-settings .tab-content .setting-chat-effect {background:rgba(0,0,0,0.2);width:100%;display:block!important;margin:0 0 0.5vw 0;box-sizing:border-box;padding:0.25vw 0.25vw 0 0.25vw;}
#wrap-settings .tab-content .setting-chat-effect .chat-effect-select {background:linear-gradient(0deg, rgba(255,255,255,0.2), rgba(255,255,255,0.1));width:100%;height:1.4vw;border-radius:0.1vw;margin:0 0 0.25vw 0;border:1px solid rgba(255,255,255,0.05);font-size:0.55vw;color:rgba(255,255,255,1);outline:none;transition:0.2s;}
#wrap-settings .tab-content .setting-chat-effect .chat-effect-select:hover, #wrap-settings .tab-content .setting-chat-effect .chat-effect-select.active {background:linear-gradient(0deg, rgba(0,255,125,0.4), rgba(50,255,125,0.1));border:1px solid rgba(0,255,125,0.2);cursor:pointer;}
#wrap-settings .tab-content .setting-chat-effect .chat-effect-select.disable {background:linear-gradient(0deg, rgba(0,255,125,0.4), rgba(50,255,125,0.1));border:1px solid rgba(0,255,125,0.2);cursor:pointer;}
.chat-message.chatfx1, .chat-message.chatfx2, .chat-message.chatfx3, .chat-message.chatfx4,.chat-message.chatfx5, .chat-message.chatfx6, .chat-message.chatfx7, .chat-message.chatfx8 {background:rgba(0,0,0,0.1);width:100%;transition:0.2s;}



/* COLOR MODE */
.settings-color-mode {background:rgba(0,0,0,0.1);width:24.5%;height:1.8vw;position:absolute;bottom:0.5vw;left:0.5vw;border-radius:2vw;font-size:0.55vw;display:flex;box-sizing:border-box;padding:0.1vw;}
.color-mode-light, .color-mode-dark {background:transparent;width:100%;border-radius:2vw;border:none;outline:none;color:rgba(255,255,255,0.6);transition:0.2s;z-index:1;}
.color-mode-light i, .color-mode-dark i {transition:0.2s;}
.settings-color-mode-bg {width:calc(50% - 0.4vw);height:calc(100% - 0.4vw);background:rgba(34,37,43,1);position:absolute;top:0;left:0;z-index:0;border-radius:2vw;transition:0.2s;margin:0.2vw;}
.color-mode-light:hover ~ .settings-color-mode-bg {left:50%;}
#wrap-settings.light-mode .settings-color-mode-bg {left:50%;background:rgba(255,255,255,1);}
#wrap-settings.dark-mode .color-mode-light:hover {color:rgba(255,255,255,1);cursor:pointer;}
#wrap-settings.dark-mode .color-mode-light:hover i {color:rgba(38,110,255,1);}
#wrap-settings.dark-mode .color-mode-dark {color:rgba(255,255,255,1);}
#wrap-settings.dark-mode .color-mode-dark i {color:rgba(38,110,255,1);}

#wrap-settings.light-mode .settings-color-mode {background:rgba(0,0,0,0.07);}
#wrap-settings.light-mode .color-mode-light, #wrap-settings.light-mode .color-mode-dark {color:rgba(0,0,0,0.6);}

#wrap-settings.light-mode .color-mode-dark:hover ~ .settings-color-mode-bg {left:0%;}
#wrap-settings.light-mode .color-mode-dark:hover {color:rgba(0,0,0,1);cursor:pointer;}
#wrap-settings.light-mode .color-mode-dark:hover i {color:rgba(38,110,255,1);}
#wrap-settings.light-mode .color-mode-light i {color:rgba(38,110,255,1);}

#wrap-settings.light-mode {background:rgba(235,235,235,1);}
#wrap-settings.light-mode .settings-topbar {background:rgba(253,253,253,1);}
#wrap-settings.light-mode .settings-topbar-logo {color:rgba(45,45,45,1);}
#wrap-settings.light-mode .settings-content .tabs {background:rgba(255,255,255,1);color:rgba(0,0,0,0.6);}
#wrap-settings.light-mode .tab-content {background:rgba(253,253,253,1);color:rgba(0,0,0,1);}


#wrap-settings.light-mode .settings-content .tabs .btn-tab {background:rgba(0,0,0,0.05);color:rgba(0,0,0,0.6);}
#wrap-settings.light-mode .settings-content .tabs .btn-tab:hover, #wrap-settings.light-mode .tabs .btn-tab.active {background:rgba(0,0,0,0.15);color:rgba(0,0,0,1);}
#wrap-settings.light-mode .settings-content .tabs .btn-tab i {background:rgba(0,0,0,0.05);}
#wrap-settings.light-mode .settings-content .tabs .btn-tab:hover i, #wrap-settings.light-mode .tabs .btn-tab.active i {background:rgba(38,110,255,1);color:rgba(255,255,255,1);}

#wrap-settings.light-mode .settings-topbar-menu .nav-item {color:rgba(0,0,0,0.6);}
#wrap-settings.light-mode .settings-topbar-menu .nav-item:hover, #wrap-settings.light-mode .settings-topbar-menu .nav-item.active {background:rgba(0,0,0,0.045);color:rgba(0,0,0,1);}
#wrap-settings.light-mode .settings-topbar-menu .nav-item.disabled {background:transparent;color:rgba(0,0,0,0.4);border-bottom:0.1vw solid transparent;}
#wrap-settings.light-mode .tab-content .setting-item {background:rgba(0,0,0,0.05);color:rgba(0,0,0,1);}
#wrap-settings.light-mode .tab-content .setting-item .strain-text-input {color:rgba(0,0,0,1);}

#wrap-settings.light-mode .settings-popup {background:rgba(40,40,40,0.5);}
#wrap-settings.light-mode .settings-popup-content {background:rgba(235,235,235,1);color:rgba(0,0,0,1);}
#wrap-settings.light-mode .settings-popup-title {background:rgba(255,255,255,1);}
#wrap-settings.light-mode .settings-popup-title .fa-bell {color:rgba(0,120,200,1);text-shadow:none;}
#wrap-settings.light-mode .settings-popup-text {color:rgba(0,0,0,0.8);}

#wrap-settings.light-mode .settings-content .tabs .automatic-message-wrap {color:rgba(0,0,0,1);}
#wrap-settings.light-mode .settings-content .tabs .automatic-message-wrap-title {background:rgba(0,0,0,0.12);}
#wrap-settings.light-mode .settings-content .tabs .automatic-message-wrap textarea {background:rgba(0,0,0,0.07);color:rgba(0,0,0,1);border:1px solid rgba(0,0,0,0.05);}
#wrap-settings.light-mode .settings-content .tabs .automatic-message-wrap .automatic-message-time {background:rgba(0,0,0,0.1);color:rgba(0,0,0,1);}

#wrap-settings.light-mode .settings-content .tabs .btn-clear-chat {background:linear-gradient(0deg, rgba(255,50,50,0.3), transparent), rgba(0,0,0,0.8);}
#wrap-settings.light-mode .settings-content .tabs .btn-clear-chat:hover {background:linear-gradient(0deg, rgba(255,50,50,0.6), transparent), rgba(0,0,0,0.9);}


input[type="color"]::-webkit-color-swatch-wrapper {padding: 0;outline:none;border:none;border-radius: 0;}
input[type="color"]::-webkit-color-swatch {border: none;outline:none;}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}

::-webkit-scrollbar-track {border: none;}
::-webkit-scrollbar {width: 0.1vw;background: transparent;}
::-webkit-scrollbar-thumb {background: rgba(255,255,255,0.6);}
#wrap-settings.light-mode .tab-content::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.5);}