@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

.contract,
.resell {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.contract>div,
.resell>div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contract .card,
.resell .card {
    background: #f8f8f8;
    width: 40em;
    height: 55em;
    padding: 5em 2em;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
}

.contract .card_second,
.resell .card_second {
    position: absolute;
    rotate: 4deg;
    z-index: -5;
}

.contract .card .close,
.resell .card .close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: var(--border-radius);
    background: var(--danger-color);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 2em;
    right: 2em;
    color: white;
    transition: 0.2s;
}

.contract .card .close:hover,
.resell .card .close:hover {
    background: var(--close-btn-color-hover);
}

.contract .card .center,
.resell .card .center {
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
}

.contract .card .paragraph,
.resell .card .paragraph {
    text-align: center;
    font-size: 1.2em;
    /* margin-top: 0.8em; */
}

.contract .card .signatures,
.resell .card .signatures {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 3em;
    width: -webkit-fill-available;
    left: 0;
    margin-inline: 3em;
}

.contract .card .signatures .seller,
.resell .card .signatures .seller {
    width: 15em;
}

.contract .card .signatures .buyer,
.resell .card .signatures .buyer {
    margin-top: auto;
    width: 15em;
}

.contract .card .signatures .dots,
.resell .card .signatures .dots {
    font-size: 2em;
    text-align: center;
}

.resell .card input,
.resell .card select {
    width: 10em;
    border: 0;
    border-bottom: 0.15em dotted black;
    border-radius: 0;
    background: transparent;
}

.resell .card input:focus,
.resell .card select:focus {
    outline: none;
}

.resell .card input.required,
.resell .card select.required {
    border-color: red;
}

.contract .card .signature,
.resell .card .signature {
    font-family: 'Freehand', cursive;
    position: absolute;
    bottom: 0.5em;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    width: inherit;
    white-space: pre-line;
    line-height: 1;
}

.contract .card .signatures .signature-text,
.resell .card .signatures .signature-text {
    position: absolute;
    font-size: 1.1em;
    text-align: center;
    width: inherit;
    font-weight: 500;
    margin-top: 0.3em;
}

.contract .card #title {
    margin-top: 1.5em;
}

.resell .card #date {
    width: fit-content;
    position: absolute;
    top: 1.8em;
    scale: 0.85;
}

.resell .card #date>div {
    font-weight: 600;
}

.resell .card #date>p {
    font-weight: 300;
    text-align: center;
    font-size: 0.8;
    font-style: italic;
    opacity: 0.75;
}

.resell .card #give_invoice {
    display: flex;
    margin-bottom: 2em;
    background: var(--primary-color);
    color: var(--primary-text-color);
    font-weight: 600;
    
    height: 3.5em;
    border-radius: 0.3em;
    color: white;
    align-items: center;
    padding-inline: 1em;
    justify-content: center;
    transition: all 0.2s;
    opacity: 0.0;
    z-index: -500;
    text-align: center;
}

.resell .card #give_invoice:hover {
    background: var(--primary-color-hover);
}

.resell .card #give_invoice:active {
    background: var(--primary-color-active);
}

.resell .card #make_signature_seller {
    width: 15em;
    position: absolute;
    bottom: 0;
    height: 4em;
    opacity: 0.1;
    border-radius: 0.3em;
    background: var(--primary-color);
}

.contract .card #make_signature_contract,
.resell .card #make_signature_buyer {
    width: 15em;
    position: absolute;
    bottom: 0;
    height: 4em;
    opacity: 0.1;
    border-radius: 0.3em;
    background: var(--primary-color);
}

.contract .card .order_details,
.contract .card .additional_details {
    font-weight: 700;
    font-size: 1.25em;
}

.contract .card .details_vehicles>span {
    margin-left: 2em;
    display: list-item;
}

.contract .card .details_date,
.contract .card .details_vehicles,
.contract .card .details_price {
    margin-top: 0.4em;
}