.testDrive {
    display: none;
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
    color: white;
    width: 100%;
    animation: slideUp 1s ease-in-out;
}

.testDrive>div {
    width: fit-content;
    margin-inline: auto;
    line-height: 1;
}

.testDrive>div>#remaining-time {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.testDrive>div>span {
    text-align: center;
    font-size: 1.0;
    font-weight: 300;
}

@keyframes slideUp {
    0% {
        bottom: -5em;
    }

    100% {
        bottom: 0;
    }
}