@font-face {
    font-family: Digital;
    src: url(digital-7.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    user-select: none;
    overflow: hidden;
}

.container {
    display: none;
    position: absolute;
    top: 40vh;
    --animate-duration: 0.4s;
    right: 0;
}

.tester-img {
    height: 550px;
    width: 550px;
    user-select: none;
}

.main-inside {
    height: 83px;
    width: 120px;
    position: absolute;
    top: 173px;
    right: 211px;
    border-radius: 5px;
    background-color: #3a3838;
}

.start-effect {
    display: block;
    animation: theme 3s linear infinite;
}

#red {
    background-color: #c5374f;
}

#green {
    background-color: #50c25b;
}

#yellow {
    background-color: #dbdd62;
}

@keyframes theme {
    0% {
        background: #74c390;
    }
    16% {
        background: #5dbdb6;
    }
    33% {
        background: #59d4e1;
    }
    50% {
        background: #51bce8;
    }
    66% {
        background: #fa5374;
    }
    83% {
        background: #e46653;
    }
    100% {
        background: #74c390;
    }
}
@keyframes background {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.wait-screen {
    height: 83px;
    width: 120px;
    border-radius: 5px;
    background-color: #b5b2b5;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.blow-screen {
    display: none;
    height: 83px;
    width: 120px;
    border-radius: 5px;
    background-color: #b5b2b5;
}

.wait-text {
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: #2e2c2e;
}

.time-text {
    padding-top: 15px;
    font-size: 50px;
    color: #111111;
    font-family: Digital;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.bac-text {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 12px;
    text-align: end;
    padding-right: 5px;
}
#progressBar {
    border-radius: 10px;
    width: 100px;
    height: 10px;
    border: 1px solid #2e2c2e;
    position: relative;
}
#progressBar span {
    display: block;
    height: 100%;
    background-color: #2e2c2e;
    position: absolute;
    top: 0;
    left: 0;
    animation: progressBar 10s linear forwards;
}
@keyframes progressBar {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.result-screen {
    display: none;
    height: 83px;
    width: 120px;
    border-radius: 5px;
}

.buttons {
    background-color: #111111;
    height: 36px;
    width: 130px;
    position: absolute;
    top: 286px;
    right: 205px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background: rgb(254, 255, 255);
    background: radial-gradient(
        circle,
        rgba(254, 255, 255, 0.6558998599439776) 0%,
        rgba(0, 0, 0, 1) 100%
    );
}

.power-button {
    height: 25px;
    width: 25px;
}

.blow-tip {
    display: none;
    height: 53px;
    width: 110px;
    position: absolute;
    left: 87px;
    top: 31px;
    transform: rotate(17deg);
    cursor: pointer;
}

.blow-tip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000000a1;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    top: -45px;
    font-weight: 900;
    font-family: sans-serif;
    height: 30px;
    transform: rotate(-16deg);
}

.blow-tip:hover .tooltiptext {
    visibility: visible;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up {
    animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.slide-down {
    animation: slideDown 0.5s ease-out forwards;
}