.management-menu div[data-type="order"] {
    display: none;
    padding: 1em;
    height: 100%;
}

.management-menu div[data-type="order"]>div {
    position: relative;
    height: 100%;
}

.management-menu div[data-type="order"]>div .vehicles-filters {
    position: absolute;
    display: flex;
    left: 0px;
    top: 0px;
    width: 43em;
    height: 2.5em;
    background: var(--submenu-background-selected);
    border-radius: 0.5em;
    padding: 1em 0em 1em 1em;
    line-height: 0.5;
}

.management-menu div[data-type="order"]>div .vehicles-filters>span {
    font-weight: 600;
}

.management-menu div[data-type="order"]>div .vehicles-filters>.line {
    width: 0.1em;
    height: 1.6em;
    background: white;
    position: relative;
    margin-top: -0.5em;
    margin-inline: 0.5em;
    opacity: 0.3;
}

.management-menu div[data-type="order"]>div .vehicles-filters>.filters-list {
    display: flex;
    align-items: center;
    margin-top: -0.85em;
    width: auto;
    height: 2.2em;
}

.management-menu div[data-type="order"]>div .vehicles-filters>.filters-list>div {
    margin-right: 0.5em;
}

.management-menu div[data-type="order"]>div .vehicles-filters>.filters-list>div>label {
    margin-bottom: 0.5em;
    font-size: 0.65em;
    width: fit-content;
}

.management-menu div[data-type="order"]>div .vehicles-filters>.filters-list>div>input {
    width: 100%;
    font-size: 0.8em;
    height: 1.2em;
    border-radius: 0.3em;
    background: #ffffff2b;
    border: none;
    padding-inline: 0.2em;
    color: white;
}

.management-menu div[data-type="order"]>div .vehicles-filters>.filters-list>button {
    height: 100%;
    border-radius: 0.3em;
    border: none;
    /* color: white; */
    /* font-weight: 600; */
    color: var(--primary-text-color);
    font-weight: 600;
    min-width: 5em;
}


.management-menu div[data-type="order"]>div .vehicles-list {
    position: absolute;
    left: 0;
    top: 3.5em;
    width: 43em;
    height: 91.7%;
    background: var(--submenu-background-selected);
    border-radius: 0.5em;
    padding: 1em;
    overflow: auto;
}

.management-menu div[data-type="order"]>div .vehicles-list>div {
    display: grid;
    grid-template-columns: repeat(3, 13em);
    gap: 1em;
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div {
    position: relative;
    background: var(--submenu-background-selected);
    border-radius: 0.4em;
    height: 15em;
    padding: 1em;
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div>.vehicle-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div>.vehicle-img>img {
    width: 95%;
    height: fit-content;
    z-index: 5000;
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div>.informations {
    display: flex;
    align-items: center;
    height: 3em;
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div img.brand-logo {
    position: absolute;
    width: 2.5em;
    z-index: 20;
    opacity: 0.75;
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div>.informations>.model {
    line-height: 1;
    z-index: 20000;
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div>.informations>.model>.brand-name {
    display: block;
    font-weight: 600;
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div>.informations>.model>.model-name {
    display: block;
    font-weight: 400;
    opacity: 0.85;
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div>.informations>.price {
    margin-left: auto;
    z-index: 20000;
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div>.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 2em;
    margin-top: 0.5em;
    background: var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
    backdrop-filter: blur(6px);
    transition: 0.25s;
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div>.btn:hover {
    background: var(--primary-color-hover);
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div>.btn:active {
    background: var(--primary-color-active);
}

.management-menu div[data-type="order"]>div .vehicles-list>div>div>.btn p {
    /* color: white; */
    color: var(--primary-text-color);
    font-weight: 600;
    margin-bottom: 0;
}

.management-menu div[data-type="order"]>div>.box {
    position: absolute;
    right: 0px;
    overflow: hidden;
    width: 16em;
    height: 100%;
    background: var(--submenu-background-selected);
    border-radius: 0.5em;
    padding: 1em;
}

.management-menu div[data-type="order"]>div>.box>i {
    position: absolute;
    z-index: 0;
    font-size: 10em;
    opacity: 0.2;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px #00000040;
    transform: skew(-25deg, 25deg);
    top: -0.1em;
    right: 0.2em;
}

.management-menu div[data-type="order"]>div>.box>.header {
    z-index: 5;
    font-size: 1em;
    font-weight: 300;
    color: rgb(183, 183, 183);
}

.management-menu div[data-type="order"]>div>.box>.title {
    z-index: 5;
    margin-top: -0.2em;
    font-size: 2em;
    font-weight: 700;
}

.management-menu div[data-type="order"]>div>.box>.data {
    height: 32.7em;
    margin-top: 0.5em;
    width: 100%;
    border-radius: 0.5em;
    outline: none;
    /* background: none; */
    backdrop-filter: blur(10px);
    background: var(--submenu-background-selected);
    color: white;
    position: relative;
    z-index: 1;
    padding: 1em;
    overflow: auto;
}

.management-menu div[data-type="order"]>div>.box>.data>.list>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
}

.management-menu div[data-type="order"]>div>.box>.data>.list>div>.name {
    font-weight: 400;
}

.management-menu div[data-type="order"]>div>.box>.data>.list>div>.remove {
    width: 1.5em;
    height: 1.5em;
    background: #ff0000bd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;
}

.management-menu div[data-type="order"]>div>.box>.data>.totalprice {
    position: absolute;
    bottom: 0.7em;
    font-weight: 700;
}


.management-menu div[data-type="order"]>div>.box>.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 5;
}

.management-menu div[data-type="order"]>div>.box>.buttons>.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 2em;
    background: var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
    backdrop-filter: blur(6px);
    transition: 0.25s;
}

.management-menu div[data-type="order"]>div>.box>.buttons>.btn:hover {
    background: var(--primary-color-hover);
}

.management-menu div[data-type="order"]>div>.box>.buttons>.btn:active {
    background: var(--primary-color-active);
}

.management-menu div[data-type="order"]>div>.box>.buttons>.btn p {
    color: var(--primary-text-color);
    font-weight: 600;
    /* color: white; */
    margin-bottom: 0;
}





.wrapper {
    z-index: 50000000;
    color: black;
    width: 12em;
    margin: 85px auto 0px;
    margin-top: -0.65em;
}

.select-btn,
li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-btn {
    height: 1.85em;
    padding: 0px 20px;
    font-size: 1em;
    background: rgb(255, 255, 255);
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px;
}

.select-btn i {
    font-size: 31px;
    transition: transform 0.3s linear;
}

.wrapper.active .select-btn i {
    transform: rotate(-180deg);
}

.content {
    display: none;
    position: absolute;
    z-index: 500000;
    padding: 20px;
    margin-top: 15px;
    background: var(--submenu-background-selected);
    backdrop-filter: blur(12px);
    border-radius: 7px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px;
}

.wrapper.active .content {
    display: block;
}

.content .search {
    position: relative;
}

.search i {
    top: 50%;
    left: 15px;
    color: rgb(153, 153, 153);
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}

.search input {
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
    font-size: 15px;
    height: 40px;
}

.search input:focus {
    padding-left: 43px;
    border: 1px solid #4285f4;
}

.search input::placeholder {
    color: #bfbfbf;
}

.content .options {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-left: 0;
    color: white;
}

.options::-webkit-scrollbar {
    width: 7px;
}

.options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.options li {
    height: 40px;
    padding: 0px 10px;
    font-size: 16px;
    border-bottom: 1px solid #ffffff17;
}

.options li:hover,
li.selected {
    border-radius: 5px;
    background: #f1f1f138;
}